---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title="zelaznogrihay.com - Home">
	<section>
		<h2>Writings</h2>
		<ul>
			{posts.map(post => (
				<li>
					<a href={`/blog/${post.slug}/`}>
						<span class="title">{post.data.title}</span>
						<time datetime={post.data.pubDate.toISOString()}>
							{post.data.pubDate.toDateString()}
						</time>
					</a>
				</li>
			))}
		</ul>
	</section>
</Layout>

<style>
	h2 {
		font-size: 1.5rem;
		border-bottom: 1px solid #0f0;
		padding-bottom: 0.5rem;
		margin-bottom: 1.5rem;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	li a {
		display: flex;
		justify-content: space-between;
		padding: 0.5rem;
		margin: -0.5rem;
		transition: background-color 0.2s ease-in-out;
		border: none;
	}
	li a:hover {
		background-color: #0f0;
		color: #0a0a0a;
	}
	.title {
		font-weight: bold;
	}
	time {
		font-style: italic;
		color: #aaa;
	}
	li a:hover time {
		color: #555;
	}
</style>
